* {
  box-sizing: border-box;
}

body {
  background: #fbfcfe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Muli',sans-serif;
}

.container {
  text-align: center;
  border: 3px solid;
  padding: 30px;
  text-align: center;
  max-width: 1000px;
  background: #fff;
  border-radius: 10px;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.code{
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  margin: 1%;
  border: 1px solid #eee;
  text-align: center;
  font-weight: 300;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.code:valid{
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px #00000040;
}

.info{
  background: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}
@media (max-width:800px) {
    .code-container{
      flex-wrap: wrap;
    }
    .code{
      font-size: 50px;
      height: 70px;
      max-width: 60px;
    }
}